<div class="container">
  <div class="page-title">
    <h4>商品新規登録</h4>
  </div>

  <%= form_with model: @item, url: admin_items_path do |f| %>
  <div class="row mt-3">
    <div class="col-2 offset-3">
      <%= f.label :商品画像 %>
    </div>
    <div class="col-5">
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2 offset-3">
      <%= f.label :商品名 %>
    </div>
    <div class="col-5">
      <%= f.text_field :name, placeholder: '商品名' %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2 offset-3">
      <%= f.label :商品説明 %>
    </div>
    <div class="col-5">
      <%= f.text_area :introduction, placeholder: 'ここに説明文を記述します' %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2 offset-3">
      <%= f.label :ジャンル %>
    </div>
    <div class="col-5">
      <%= f.collection_select :genre_id,@genre,:id,:name,options={include_blank: true} %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2 offset-3">
      <%= f.label :税抜価格 %>
    </div>
    <div class="col-5">
      <%= f.text_field :price, placeholder: '1000' %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2 offset-3">
      <%= f.label :販売ステータス %>
    </div>
    <div class="col-5">
      <%= f.radio_button :is_active,true %>
      <%= f.label :is_active,"販売中" %>
      <%= f.radio_button :is_active,false %>
      <%= f.label :is_active,"販売停止中" %>
    </div>
  </div>

  <div class="text-center mt-3">
    <%= f.submit '新規登録', class: 'btn btn-success' %>
  </div>

  <% end %>
</div>