<div class="container">
  <div class="page-title">
    <h4>商品詳細</h4>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= image_tag @item.get_image, class: 'item-image' %>
    </div>

    <div class="col-lg-6">
      <table class="table table-borderless item-show">
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>

        <tr>
          <th>商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>

        <tr>
          <th>ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>

        <tr>
          <th>
            税込価格<br>
            (税抜価格)
          </th>
          <td><%= @item.with_tax_price %> (<%= @item.price %>)円</td>
        </tr>

        <tr>
          <th>販売ステータス</th>
          <td>
            <% if @item.is_active %>
              <p>販売中</p>
            <% else %>
              <p>販売停止中</p>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "編集する", edit_admin_item_path(@item), class: 'btn btn-success' %>
  </div>

</div>