<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="page-title mt-5">
        <h4>注文情報確認</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td><%= cart_item.amount %></td>
              <td><%= cart_item.subtotal %></td>
            </tr>
            <%= @total += cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4">
      <table class="table table-bordered">
        <tr>
          <th>送料</th>
          <td><%= postage %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td><%= @total %></td>
        </tr>
        <tr>
          <th>請求合計</th>
          <td><%= @total + postage.to_i %></td>
        </tr>
      </table>
    </div>
  </div>
</div>