<div class="container">
  <div class="page-title">
    <h4>ログイン</h4>
  </div>

  <div class="ml-5">
    <h5 class="page-title" style="width:350px;">会員の方はこちらからログイン</h5>
  </div>

  <table class="table table-borderless session-table">
    <%= form_with model: @customer, url: customer_session_path do |f| %>
    <tr>
      <th width="20%">メールアドレス</th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'sample@example.com',:size => '50*80' %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td><%= f.password_field :password, autocomplete: "current-password",:size => '50*80' %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit 'ログイン', class: 'btn btn-primary button1 mt-3' %></td>
    </tr>
    <% end %>
  </table>

  <div class="ml-5">
    <h5 class="page-title" style="width:350px;">会員登録がお済みでない方</h5>
  </div>

  <div class="signup-link">
    <p><%= render "public/shared/links" %>からログインしてください。</p>
  </div>
</div>
